.feature-item {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  width: 100%;

  h4 {
    margin: 2rem 0;
  }

  h4,
  p {
    text-align: center;
  }

  .icon-container {
    margin-top: 6rem;

    svg {
      height: 100px;
      width: 100px;
    }
  }
}
