@import "../abstracts/variables";

.testimonial {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba($color-secondary, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  transform: skewX(-12deg);
  padding: 5rem;
  padding-left: 7rem;
  width: 60%;
  gap: 3%;
  margin: 0 auto;

  & > div {
    transform: skewX(12deg);
  }

  &-image {
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    img {
      height: 100%;
    }
  }

  &-text {
    word-wrap: break-word;
  }
}
