@import "../abstracts/variables";
@import "../abstracts/mixins";

.app-features {
  @include flexCenter;
  flex-direction: column;

  span {
    color: $color-secondary;
  }

  p {
    color: $color-secondary-light;
  }
}
