// COLORS
$color-primary: #93bfcf;
$color-primary-dark: #6096b4;
$color-primary-light: #bdcdd6;

$color-secondary: #a084dc;
$color-secondary-dark: #645cbb;
$color-secondary-light: #bface2;

$color-tertiary: #609966;
$color-tertiary-dark: #40513b;
$color-tertiary-light: #9dc08b;

$color-beige: #eee9da;
$color-magenta: #ebc7e6;
$color-sage: #edf1d6;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
